<div class="faqContainer">
    <h1>FAQ Section</h1>

    <details>
        <summary> What's the dress code policy?</summary>
        <p>We know this is a difficult rule to set, which is why we try and keep it as simple as we can.
  
            We ask that our customers arrive smartly dressed and keep it stylish, fashionable and fresh but we do decide on an individual basis. We work hard to make sure CUBE looks ready for you to party, so we ask that you do the same.
              
            We advise against wearing sports or gym style trainers; however, we do accept some pumps like Converse and Vans.
              
            We can’t make promises over the phone or by email – it’s just too tricky, so come down on the night and if you look the part then you shouldn't have a problem.
              
            Remember: Dress to impress and ready to party!</p>
    </details>
    
    <details>
        <summary>Will I need my ID?</summary>
        <p>All customers will be asked to provide ID before entry into the venue which will be scanned before entry.

            If you’re lucky enough to look younger than 18 please be prepared to prove your age at any time with valid identification. If you do get asked for ID, please don’t be offended. Please note that some RECOM UK venues operate a Challenge 21 policy.
            
            You are not obliged to permit us to scan your identification through Scannet; however, we retain the management's right to refuse entry.</p>
    </details>

    <details>
        <summary>What forms of ID can I use?</summary>
        <p>We will only accept a UK photo card driving licence, passport, or PASS identification card bearing the PASS hologram. In conjunction with local authority guidance, we operate an ID seizure policy whereby any false ID will be confiscated and handed over to the police.</p>
    </details>

    
    <details>
        <summary>Will I be refused entry?</summary>
        <p>All tickets &amp; packages are non-refundable. In specific circumstances you may be able to obtain a refund through RECOM UK customer services team at the discretion of the club’s management.  </p>
    </details>
</div>