<!-- navigation bar -->
<div class="footer">
    <!-- newsletter -->
    <div class="aboutusNewsletters">
        <h2>WEEKLY NEWSLETTERS</h2>
        <input placeholder="Enter Your Email" autocomplete="email" type="email" id="subscription_email"><button type="button" onclick="subscribe()">SUBSCRIBE</button>
    </div>
    <!-- nav links -->
    <div class="footerLinks">
        <div>
            <a href="/"><img src="../img/logo.png" alt="" width="260px"></a>
        </div>
        <div style="display: flex;
        justify-content: center;">
            <ul style="max-width:240px;">
                <li class="galleryPage"><a href="/gallery">GALLERY<br>
                        <img src="../img/gallery/pic (7).jpg" alt="" width="100" height="auto"><br>
                        <img src="../img/gallery/pic (1).png" alt="" width="100" height="auto"><br>
                        <img src="../img/artist/pic (3).jpg" alt="" width="100" height="auto"><br>
                    </a></li>
            </ul>
        </div>
        <div>
            <ul>
                <li class="miniGame"><a href="/minigame">MINIGAME<br><img src="../img/gamepreview.JPG" alt=""
                            height="210px"></a></li>

            </ul>
        </div>
        <div>
            <ul>
                <li class="contactPage"><a href="/contactus">CONTACT US<br>
                        <div>
                            <ion-icon name="locate-outline"></ion-icon>SO14 0YN
                        </div>
                        <div>
                            <ion-icon name="call-outline"></ion-icon>+44 4567 891 234
                        </div>
                        <div>
                            <ion-icon name="globe-outline"></ion-icon>www.CUBE-CLUBS.uk
                        </div>
                        <div>
                            <ion-icon name="mail-outline"></ion-icon>contactus@cube@email.com
                        </div>
                    </a></li>
            </ul>
        </div>
    </div>
</div>