<div class="galleryContainer">
    <img class="hidden" src="../img/gallery/pic (1).jpg" alt="">
    <img class="hidden" src="../img/gallery/pic (2).jpg" alt="">
    <img class="hidden" src="../img/gallery/pic (3).jpg" alt="">
    <img class="hidden" src="../img/artist/pic (1).jpg" alt="">
    <img class="hidden" src="../img/gallery/pic (4).jpg" alt="">
    <img class="hidden" src="../img/gallery/pic (5).jpg" alt="">
    <img class="hidden" src="../img/gallery/pic (6).jpg" alt="">
    <img class="hidden" src="../img/artist/pic (2).jpg" alt="">
    <img class="hidden" src="../img/gallery/pic (7).jpg" alt="">
    <img class="hidden" src="../img/gallery/pic (8).jpg" alt="">
    <img class="hidden" src="../img/gallery/pic (1).png" alt="">
    <img class="hidden" src="../img/artist/pic (3).jpg" alt="">
</div>