<!-- navigation bar -->
<div class="nav">
    <div class="news">
        <div class="news1">
            <p> UPCOMMING EVENT: BLACK&WHITE NIGHT </p><p>FROM: 1st TO THE 31st OCTOBER 2022</p><p> UPCOMMING EVENT: BLACK&WHITE NIGHT </p><p>FROM: 1st TO THE 31st OCTOBER 2022</p><p> UPCOMMING EVENT: BLACK&WHITE NIGHT </p><p>FROM: 1st TO THE 31st OCTOBER 2022</p><p> UPCOMMING EVENT: BLACK&WHITE NIGHT </p><p>FROM: 1st TO THE 31st OCTOBER 2022</p>
        </div>
    </div>
    
    <div class="navbar">
        <ul>
            <li class="indexBtn fullsize"><a href="/">HOME</a></li>
            <li class="lineupPage fullsize"><a href="/lineup">LINE-UP</a></li>
            <li class="galleryPage fullsize"><a href="/gallery">GALLERY</a></li>
            <li class="logoSection "><a href="/"><img src="/img/logo.png" alt=""></a></li>
            <li class="indexBtn mobile"><a href="/">HOME</a></li>
            <li class="lineupPage mobile"><a href="/lineup">LINE-UP</a></li>
            <li class="galleryPage mobile"><a href="/gallery">GALLERY</a></li>
            <li class="aboutPage"><a href="/faq">FAQ</a></li>
            <li class="miniGame"><a href="/minigame">MINIGAME</a></li>
            <li class="contactPage"><a href="/contactus">CONTACT US</a></li>
        </ul>
    </div>
</div>