<div class="stickyNote">
    <ion-icon name="close-circle-outline" onclick="this.parentElement.remove()"></ion-icon>
    <p>This project is part of a challange to use only HTML+CSS+JS and especially not use JQuery or Bootstrap.</p>
</div>
<div class="landing">
    <div class="landingCenter">
        <h1>BLACK & WHITE NIGHT</h1>
        <h3>CUBE MUSIC FESTIVAL</h3>
        <h4>Anyone can join in and have some fun</h4>
        <h5>1st to 31st October</h5>
        <h2>Read <a href="/lineup">more</a></h2>
    </div>
</div>
<div class="aboutusContainer">


    <div class="aboutusIntro">

        <h2>ABOUT OUR CLUB</h2>

        <div class="introContainer">
            <div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque commodi quis accusantium provident,
                    laboriosam in, iste eos, delectus vero ut deserunt rem fuga? Non ratione itaque, at maxime
                    voluptatibus optio! Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, officia.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, nostrum quis? Atque dolorem
                    eligendi architecto, asperiores voluptate explicabo quam minus? </p>


                <div>
                    <img src="../img/gallery/pic (6).jpg" alt="" height="200">
                    <ion-icon name="play-circle-outline"></ion-icon>
                </div>

            </div>
            <div>
                <img src="../img/gallery/pic (4).jpg" alt="">
                <img src="../img/gallery/pic (1).jpg" alt="">
                <img src="../img/gallery/pic (7).jpg" alt="">
            </div>
        </div>

    </div>

    <div class="aboutusOfferings">

        <h2>WHAT WE OFFER</h2>
        <div class="offerContainer">
            <div class="offering">
                <div><img src="../img/offerings/pic (1).png" alt=""></div>
                <div>
                    <div>All Night Drinks </div>
                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit libero nemo consectetur ipsam
                        nulla.</div>
                </div>
            </div>
            <div class="offering">
                <div><img src="../img/offerings/pic (2).png" alt=""></div>
                <div>
                    <div>Song Requests</div>
                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit libero nemo consectetur ipsam
                        nulla.</div>
                </div>
            </div>
            <div class="offering">
                <div><img src="../img/offerings/pic (3).png" alt=""></div>
                <div>
                    <div>Top DJs</div>
                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit libero nemo consectetur ipsam
                        nulla.</div>
                </div>
            </div>
            <div class="offering">
                <div><img src="../img/offerings/pic (4).png" alt=""></div>
                <div>
                    <div>Contactless Payments</div>
                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit libero nemo consectetur ipsam
                        nulla.</div>
                </div>
            </div>
        </div>

    </div>
    <div class="aboutusPerks">

        <h2>PERKS</h2>

        <section class="slide-option">
            <div id="infinite" class="highway-slider">
                <div class="highway-barrier">
                    <ul class="highway-lane">
                        <li class="highway-car text-black">
                            <ion-icon name="beer-outline"></ion-icon>
                        </li>
                        <li class="highway-car text-black">
                            <ion-icon name="pizza-outline"></ion-icon>
                        </li>
                        <li class="highway-car text-black">
                            <ion-icon name="sparkles-outline"></ion-icon>
                        </li>
                        <li class="highway-car text-black">
                            <ion-icon name="medkit-outline"></ion-icon>
                        </li>

                        <li class="highway-car text-black">
                            <ion-icon name="beer-outline"></ion-icon>
                        </li>
                        <li class="highway-car text-black">
                            <ion-icon name="pizza-outline"></ion-icon>
                        </li>
                        <li class="highway-car text-black">
                            <ion-icon name="sparkles-outline"></ion-icon>
                        </li>
                        <li class="highway-car text-black">
                            <ion-icon name="medkit-outline"></ion-icon>
                        </li>

                        <li class="highway-car text-black">
                            <ion-icon name="beer-outline"></ion-icon>
                        </li>
                        <li class="highway-car text-black">
                            <ion-icon name="pizza-outline"></ion-icon>
                        </li>
                        <li class="highway-car text-black">
                            <ion-icon name="sparkles-outline"></ion-icon>
                        </li>
                        <li class="highway-car text-black">
                            <ion-icon name="medkit-outline"></ion-icon>
                        </li>

                    </ul>
                </div>
            </div>
        </section>


    </div>

</div>