    <div class="minigameContainer">

        <div>
            <h1>Tic Tac Toe</h1>
            <h2>X MOVE</h2>
        </div>

        <div style="
display: flex;
justify-content: center;
align-content: center;
background-color: white;">
            <div class="score X">0</div>
            <div class="score TIE">0</div>
            <div class="score O">0</div>
        </div>
        <div class="box"> </div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>

        <div class="result"></div>

    </div>